#main
{
    position: relative;
    width: 100%;
    height: 500px;
}

#main img
{
    width: 100%;
    height: 100%;
    
}

#main .main-tilte
{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 30%;
    font-weight: bolder;
    color: #FFF;
    border: 2px solid #FFF;
}

#main .form-row
{
    display: flex;
    justify-content: center;
}